.drip-container {
    z-index: 2;
    animation: wave 1s ease-out forwards;

}

.drops {
    -webkit-filter: url('#liquid');
    filter: url('#liquid');
    position: absolute;
    z-index: 1;
    opacity: 0;
    animation: fade-in .1s linear .4s forwards;
    left: 20vw;
}

.drop1, .drop2 {
    width: 21px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: #d0bbf9
}

.drop3, .drop4, .drop5, .drop6, .drop7, .drop8, .drop9 {
    width: 30px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    background-color: #d0bbf9;
}

.drop3{
    left: 7vh;
    animation: drop 3s cubic-bezier(1, .19, .66, .12) .5s infinite;
}

.drop4{
    left: 15vh;
    width: 43px;
    animation: drop 2.2s cubic-bezier(1, .19, .66, .12) .5s infinite;
}

.drop5{
    left: 22vh;
    animation: drop 1.5s cubic-bezier(1, .19, .66, .12) .5s infinite;
}

.drop6{
    left: 420px;
    width: 20px;
    animation: drop 1.4s cubic-bezier(1, .19, .66, .12) .5s infinite;
}

.drop7{
    left: 620px;
    width: 32px;
    animation: drop 2.6s cubic-bezier(1, .19, .66, .12) .5s infinite;
}

.drop8 {
    width: 20px;
    height: 90px;
    left: 780px;
    animation: drop 1.3s cubic-bezier(1, .19, .66, .12) .5s infinite;
}

.drop9 {
    width: 21px;
    left: 880px;
    animation: drop 2.3s cubic-bezier(1, .19, .66, .12) .5s infinite;
}

.drop1 {
    width: 59vw;
    height: 10vh;
    bottom: 2px;
    border-radius: 0;
}

.drop2 {
    animation: drop 1.3s cubic-bezier(1, .19, .66, .12) .5s infinite;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        bottom: 0px;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        bottom: -200px;
    }
}

@keyframes wave {
    0% {
        background-position: 0 160px;
        background-size: 170px 300px;
    }

    100% {
        background-position: 500px -18px;
        background-size: 250px 150px;
    }
}

#hero::after, #hero::before {
    content: "";
    position: absolute;
    opacity: 0.6;

}

#hero::after {
    width: 30vw; 
    height: 80vh;  
    background:#F7DBF1; 
    top: 120px; /* Posición de la mancha */  
    right: 0px;  
    z-index: 0; /* Detrás del contenido */ 
    filter: blur(20px); 
    border-radius: 70% 0 0 70%;
}
#hero::before{
    width: 36vw; 
    height: 89vh;  
    background: #CDF0EA;
    top: -120px; /* Posición de la mancha */  
    left: -120px; 
    z-index: 0; /* Detrás del contenido */ 
    filter: blur(20px); 
    border-radius: 0 70% 70% 0;
}
#featured-products-section::after, #featured-products-section::before
{
    content: "";
    position: absolute;
    opacity: 0.6;
    border-radius: 70% 0 0 70%;
}

#featured-products-section::before{
    width: 40vw; 
    height: 90vh;  
    background: #CDF0EA;
    bottom: -750px; /* Posición de la mancha */  
    right: 0px; 
    z-index: 0; /* Detrás del contenido */ 
    filter: blur(20px); 
}

#services-section::after,#services-section::before{
    content: "";
    position: absolute;
    opacity: 0.6;
    border-radius: 60%;
}
#services-section::after{
    width: 60vw; 
    height: 130vh;  
    background:#F7DBF1; 
    bottom: -220px; /* Posición de la mancha */  
    left: -320px;  
    z-index: 0; /* Detrás del contenido */ 
    filter: blur(20px); 
}
#services-section::before{
    width: 30vw; 
    height: 50vh;  
    background: #CDF0EA;
    top: -70px; /* Posición de la mancha */  
    right: -60px; 
    z-index: 0; /* Detrás del contenido */ 
    filter: blur(20px); 
}

#customer-reviews-section::after, #customer-reviews-section::before
{
    content: "";
    position: absolute;
    opacity: 0.6;
}

#customer-reviews-section::before{
    width: 30vw; 
    height: 80vh;  
    background: #CDF0EA;
    bottom: -3800px; /* Posición de la mancha */  
    right: 0px; 
    z-index: 0; /* Detrás del contenido */ 
    filter: blur(20px); 
    border-radius: 70% 0 0 70%;
}

#customer-reviews-section::after
{
    width: 50vw; 
    height: 50vh;  
    background:#F7DBF1; 
    bottom: -3500px; /* Posición de la mancha */  
    left: -200px;  
    z-index: 0; /* Detrás del contenido */ 
    filter: blur(20px);
    border-radius: 0 0 70% 70%;
}