/* para elementos de organizacion de la estructura */
/* aplicacion de grid y/o flex, etc */


/* layout del header // daniel */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}
ul{
    display: flex;
    align-items: center;
}
/* layout del hero // daniel */
#hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15vh;
    z-index: 1;
}
#hero-company-data{
    display: flex;
    flex-direction: column;
}


/* layout de productos destacados // diana */



/* layout del catalogo // karina */

#catalog-section{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2.4vh 2.4vh 5vh 3vh;
    justify-content: center;
}


#catalog-title-id{
    text-align: center;
}

.edible-products-container{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

.drinkable-products-container{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

.product-card{
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    
}

.product-card img{
    object-fit: cover;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    
}

.more-pics-products{
    display: flex;
}

.product-info button{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* layout de los servicios // orlando */
#featured-services-section{
    width: 1440px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#featured-services-title-id{
    text-align: center;

}
.services-card-cup-design-service{
    width: 1097px;
    height: 323px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-card-cup-design-service div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
}
.services-card-cup-design-service img{
    width: 577px;
    height: 323px;
    border-radius: 0px 38px 38px 0px;
    border: 3px solid #CACACA;
}
.services-card-section{
    display: flex;
    gap: 30px;
}
.services-card{
    display: flex;
    width: 492px;
    height: 324px;
    align-items: center;
    justify-content: center;
}
.service-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-title-container h2{
    width: 348px;
    height: 48px;
}
.service-title-container h4{
    width: 390px;
    height: 131px;
}
.service-title-container p{
    width: 186px;
    height: 12px;
}
.secondary-buton{
    width: 190.5px;
    height: 42px;
}


/* layout de about us //  elein */



/* layout de reviews // daniel */



/* layout del form // karina */

#form-section{
    padding: 2.4vh 2.4vh 5vh 7vw;
}

#contact-form-title-id{
    margin-bottom: 8vh;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "name phone"
    "email email"
    "message message"
    ". submit";
    row-gap: 5vh;
    column-gap: 7vw;
}

.form-space {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.form-name{
    grid-area: name;
}

.form-phone{
    grid-area: phone;
}

.form-email{
    grid-area: email;
}

.form-message{
    grid-area: message;
}

.form-button{
    grid-area: submit;
    justify-self: end;
    align-self: center;
}


/* layout del footer // elein */