/* para elementos de organizacion de la estructura */
/* aplicacion de grid y/o flex, etc */


/* layout del header // daniel */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;
}
ul{
    display: flex;
    align-items: center;
}
/* layout del hero // daniel */
#hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15vh;
    z-index: 1;
}
#hero-company-data{
    display: flex;
    flex-direction: column;
    z-index: 1;
}


/* layout de productos destacados // diana */
#featured-products-section{
    width: 100%;
    height: 100%;
}
.featured-products-cards-container{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    height: 100%;
    width: 60%;
}

#featured-products-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:5vh
}
.featured-products-card{
display: flex;
flex-direction: column;
gap:1vh;
height: 30vh;


}

.featured-products-card img{
  display: flex;
    place-items: center;
    width: 85px;
    height: 85px;
   margin:0 auto;
    object-fit: contain;
}
.button{
 display: flex;
 justify-content: center;
 
}
/* layout del catalogo // karina */

#catalog-section{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2.4vh 2.4vh 5vh 3vh;
    justify-content: center;
}


#catalog-title-id{
    text-align: center;
}

.edible-products-container{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

.drinkable-products-container{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

.product-card{
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    
}

.product-card img{
    object-fit: cover;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    
}

.more-pics-products{
    display: flex;
}

.product-info button{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* layout de los servicios // orlando */
#services-section{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#services-title-id{
    text-align: center;
    margin-bottom: 15vh;
}
.services-card-section
{
    display: flex;
    gap: 2vw;
}
.service-card{
    display: flex;
    width: 25vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.serviceInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}
.serviceInfo img{
    width: 20vw;
    height: 30vh;
}

.serviceInfo h2{
    width: 23vw;
    height: 7vh;
}
.serviceInfo h4{
    width: 20vw;
    height: 10vh;
}
.serviceInfo p{
    width: 10vw;
    height: 1vh;
}
.secondary-buton{
    width: 13vw;
    height: 5vh;
}

/* layout de about us //  elein */

#about-us-section
{
    display: flex;
    justify-content: space-around;
}

.about-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
}

.about-title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* layout de reviews // daniel */

#customer-reviews-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    gap: 6vh;

}
#customer-reviews-title-id{
    margin-left: 7vw; 
    z-index: 1;
}
#card-section{
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}
.review-card{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 1vw;
}



/* layout del form // karina */

#form-section{
    margin: 0;
    padding: 2.4vh 2.4vh 5vh 7vw;
}

#contact-form-title-id{
    margin-bottom: 8vh;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "name phone"
    "email email"
    "message message"
    ". submit";
    row-gap: 5vh;
    column-gap: 7vw;
}

.form-space {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.form-name{
    grid-area: name;
}

.form-phone{
    grid-area: phone;
}

.form-email{
    grid-area: email;
}

.form-message{
    grid-area: message;
}

.form-button{
    grid-area: submit;
    justify-self: end;
    align-self: center;
}


/* layout del footer // elein */

#page-footer-id
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-evenly;
}

.social-media
{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

#footer-info
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
