
/*responsive del service*/
@media(max-width:600px)
{
    body
    {
        width: 100vw;
        height: 100vh;
    }
    
#services-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#services-section h1{
    text-align: center;
    margin-bottom: 15vh;
    font-size: 2em;
    z-index: 1;
}
.services-card-section
{
    display: flex;
    gap: 2vw;
}
.service-card{
    display: flex;
    width: 30vw;
    height:35vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
}
.serviceInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}
.serviceInfo img{
    width: 25vw;
    height: 10vh;
}

.serviceInfo h2{
    width: 30vw;
    height: 3vh;
    font-size: 0.7em;
}
.serviceInfo h4{
    width: 29vw;
    height: 11vh;
    font-size: 0.5em;
}
.serviceInfo p{
    width: 25vw;
    height: 1vh;
    font-size: 0.3em;
}
.secondary-buton{
    width: 15vw;
    height: 3vh;
    font-size: 0.3em;
}

#services-section::after,#services-section::before{
    content: "";
    position: absolute;
    opacity: 0.9;
    border-radius: 60%;
}
#services-section::after{
    width: 45vw; 
    height: 70vh;  
    background:#F7DBF1; 
    bottom: -160px; /* Posición de la mancha */  
    left: -10px;  
    z-index: 0; /* Detrás del contenido */ 
    filter: blur(20px); 
}
#services-section::before{
    width: 34vw; 
    height: 30vh;  
    background: #CDF0EA;
    top: -30px; /* Posición de la mancha */  
    right: -20px; 
    z-index: 0; /* Detrás del contenido */ 
    filter: blur(20px); 
}
}
@media(max-width: 808px){
    .menu-icon {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 131px;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        background-color: rgba(191, 174, 226, 0.8); 
        text-align: center;
        justify-content: center;
        transition: height 0.5s ease;
        border-radius: 10px;
        backdrop-filter: blur(10px); 
    }

    .nav-links li {
        margin: 0;
        padding: 20px 0;
        width: 100%;
    }

    #menu-toggle:checked + .menu-icon + .nav-links{
        height: 85vh; 
    }
    .nav-links a {
        transition: color 0.3s;
    }
    
    .nav-links a:hover {
        color: #CDF0EA; 
    }
}
@media(max-width: 414px){
    #hero{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15vh;
        z-index: 1;
    }
    #hero-company-data{
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    #hero{
        width: 100%;
        margin: 0;
        height: 100vh;
    }
    #bubbletea{
        height: 40vh;
        width: 20vh;
        margin: 0 15vh 0 0;
        z-index: 1;
    }
    #hero-company-data{
        width: 34%;
        gap: 2vw;
    }
    #hero-company-data img{
       width: 70%;
    }
}

