body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body img{
    width: 128px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 0;
    padding: 1vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.back a{
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    font-weight: 700;
}

#color-palette{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.colors{
    display: flex;
    gap: 2vw;
    justify-content: center;
    text-align: center;
}

.color-box{
    width: 15vw;
    height: 15vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#green{
    background-color: #CDF0EA;
}

#white{
    background-color: #F9F9F9;
}

#pink{
    background-color: #F7DBF1;
}

#purple{
    background-color: #BFAEE2;
}
#input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
form{
    display: flex;
    gap: 5vw;
}
form input{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px black;
    padding: 1vw;
}
.form-space{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.form-message input{
    border-radius: 20px;
    background: #f7dbf1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2vw;
    border: none;
    margin-top: 2vh;
}
pre {
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow-x: auto;
    padding: 5px; /* Reducir el padding para que la cajita sea más pequeña */
    font-size: 0.85em; /* Reducir el tamaño del texto */
    line-height: 1.2; /* Reducir la altura de línea para compactar el código */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

code{
    font-family: Consolas, "Courier New", monospace;
    color: black;
    font-size: 0.85em; /* Reducir el tamaño del texto del código */
}
#code-section{
    display: flex;
    gap: 5vw;
}
#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#submit{
    border-radius: 20px;
    background: #CDF0EA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 10vw;
    height: 10vh;
    font-size: 2vh;
}
#style-section{
    display: flex;
    align-items: center;
    gap: 10vw;      
    margin-top: 5vh;
}
.secondary-buton{
    width: 13vw;
    height: 5vh;
    border-radius: 8px;
    background: #BFAEE2;
    color: #FFF;
    font-family:"Poppins";
    font-size:1em;
    border: none;
}
.secondary-buton:hover{
    background: #9083aa;
}   
#aside 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
.aside-container
{
    display: flex;
    gap: 5vw;
}
.my-aside{
    width: 20vw;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CDF0EA;
}
#opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}
#opciones div img{
    width: 128px;
    margin-bottom: 1vh;
}
.links{
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
}

.links a{
    color: #000;
    text-decoration: none;
}

#label
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
#footer h1,h2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.codigo
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

#page-footer-id
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-evenly;
    background-color: #F9F9F9;
}

.social-media
{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

#footer-info
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.social-media svg
{
    fill: #E88DB8;
}

#footer-logo
{
    height: 15vh;
    width: 20vw;
}

#footer-email
{
    text-decoration: underline;
}
