@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* exclusivamente para estilos */
/* colores, fuentes, fondos, bordes, estilos de botones, animaciones */

body {
    background-color: #F9F9F9;
    color: black;
    margin: 0;
}

body h1,
h2 {
    font-family: "Spicy Rice", serif;
}

body h3,
h4,
p,
a,
label {
    font-family: "Poppins", sans-serif;
}

body h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body img {
    width: 100px;
    /* Eliminar al terminar.
    solo esta para que se pueda ver el html mas claramente */
}

/* estilos del header // daniel */
header {
    background-color: #FFFFFF;
    height: 15vh;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

header img {
    height: 70px;
    width: 80px;
    padding: 25px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    gap: 20px;
    padding: 25px;
}

#home-background {
    background-color: #BFAEE2;
    padding: 5px;
    border-radius: 8px;
}

/* estilos del hero // daniel */
#hero {
    margin: 0;
    height: 83vh;
}

#bubbletea {
    height: 75vh;
    width: 40vh;
    margin: 0 15vh 0 0;
}

#hero-company-data {
    width: 34%;
    gap: 20px;
}

#hero-company-data img {
    width: 70%;
}


/* estilos de productos destacados // diana */
.featured-products-cards-container {
    box-shadow: 0 6px 6px rgb(153, 153, 153);
    /*para las sombras */
    background-color: #F9F9F9;
}

<<<<<<< HEAD
.featured-products-card {
=======
.featured-products-card{
>>>>>>> origin/kary-featuress
    text-align: left;
    border-left: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-top: 3px solid #ddd;
<<<<<<< HEAD
    padding: 10px;
}

.secondary-buton {
    border-radius: 6px;
    background-color: rgb(205, 152, 255);
    height: 30px;

}

#featured-products-title-id {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;

}

#featured-products-title-id span {
    color: #AA8BE8;
=======
   padding: 10px;
>>>>>>> origin/kary-featuress
}

.secondary-buton{
    border-radius: 6px;
    background-color: rgb(205, 152, 255);
   height: 30px;
   
}

#featured-products-title-id {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;

}

#featured-products-title-id span {
    color: #AA8BE8;
}

/* estilos del catalogo // karina */

#catalog-section {
    background: linear-gradient(137deg, #CDF0EA 39.02%, #F7DBF1 80.22%);
}

#catalog-section h1 {
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;

}

#catalog-title-id span {
    color: #AA8BE8;

}

.catalog-subtitle-container {
    background: #BFAEE2;
    width: 20vw;
    padding: .5vw;
    border: none;
    border-radius: 35px;
    text-align: center;
}

.catalog-subtitle-container h2 {
    color: #F9F9F9;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
}

.product-card {
    background-color: #F9F9F9;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.product-card h3,
h4 {
    font-weight: 600;
}

.product-card img {
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

}

.product-info button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: transparent;
    border: solid 2px #CACACA;
    font-size: x-small;
    font-family: "Poppins", sans-serif;
}

/* estilos de los servicios // orlando */

#featured-services-section {
    position: relative;
    background: #F9F9F9;
    overflow: hidden;
}

#featured-services-section::after,
#featured-services-section::before {
    content: "";
    position: absolute;
    opacity: 0.45;
    border-radius: 30%;
}

#featured-services-section::after {
    width: 60vw;
    height: 130vh;
    background: #F7DBF1;
    bottom: -120px;
    /* Posición de la mancha */
    left: -220px;
    z-index: 0;
    /* Detrás del contenido */
    filter: blur(20px);
}

#featured-services-section::before {
    width: 30vw;
    height: 35vh;
    background: #CDF0EA;
    top: -50px;
    /* Posición de la mancha */
    right: -50px;
    z-index: 0;
    /* Detrás del contenido */
    filter: blur(20px);
}

#featured-services-section h1 {
    color: #000;
    font-family: "Spicy Rice";
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
}

#featured-services-title-id span {
    color: #AA8BE8;
}

.services-card-cup-design-service {
    border-radius: 40px;
    background: #F9F9F9;
    box-shadow: 6px 4px 11.6px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.services-card-cup-design-service img {
    border-radius: 0px 38px 38px 0px;
    border: 3px solid #CACACA;
}

.services-card {
    border-radius: 40px;
    background: #F9F9F9;
    box-shadow: 6px 4px 11.6px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.service-title-container h2 {
    color: #BFAEE2;
    font-family: "Poppins";
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
}

.service-title-container h4 {
    color: #5B5B5B;
    font-family: "Poppins";
    font-size: 1em;
    font-weight: 500;
}

.service-title-container p {
    color: #5B5B5B;
    font-family: "Poppins";
    font-size: 0.7em;
    font-weight: 500;
}

.secondary-buton {
    border-radius: 8px;
    background: #BFAEE2;
    color: #FFF;
    font-family: "Poppins";
    font-size: 1em;
    border: none;
}

.secondary-buton:hover {
    background: #9083aa;
}


/* estilos de about us //  elein */


/* estilos de reviews // daniel */
#customer-reviews-title-id {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
<<<<<<< HEAD

.review-card {
=======
.review-card{
>>>>>>> origin/kary-featuress
    height: 35vh;
    width: 23vw;
    border-radius: 8px;
    padding: 5vh;
}
<<<<<<< HEAD

.user-info img {
=======
.user-info img{
>>>>>>> origin/kary-featuress
    border-radius: 40px;
    height: 40px;
    width: 40px;
}


/* estilos del form // karina */

#form-section h1 {
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    text-align: center;
}

#form-title-id span {
    color: #AA8BE8;

}

.form-container form {
    width: 60%;
}

.form-space {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

form input {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px black;
    padding: 1vw;
}

.form-message input {
    border-radius: 20px;
    background: #F7DBF1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2vw;
    border: none;
}

.form-button {
    border-radius: 20px;
    background: #CDF0EA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 10vw;
    height: 10vh;
    font-size: 2vh;
}

/* estilos del footer // elein */