@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body img{
    width: 128px;
}

.styles-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 0;
    padding: 1vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.back a{
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    font-weight: 700;
}

#color-palette{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.colors{
    display: flex;
    gap: 2vw;
    justify-content: center;
    text-align: center;
}

.color-box{
    width: 15vw;
    height: 15vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#green{
    background-color: #CDF0EA;
}

#white{
    background-color: #F9F9F9;
}

#pink{
    background-color: #F7DBF1;
}

#purple{
    background-color: #BFAEE2;
}
#input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
form{
    display: flex;
    gap: 5vw;
}
form input{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px black;
    padding: 1vw;
}
.form-space{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.form-message input{
    border-radius: 20px;
    background: #f7dbf1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2vw;
    border: none;
    margin-top: 2vh;
}
pre {
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow-x: auto;
    padding: 5px; /* Reducir el padding para que la cajita sea más pequeña */
    font-size: 0.85em; /* Reducir el tamaño del texto */
    line-height: 1.2; /* Reducir la altura de línea para compactar el código */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

code{
    font-family: Consolas, "Courier New", monospace;
    color: black;
    font-size: 0.85em; /* Reducir el tamaño del texto del código */
}
#code-section{
    display: flex;
    gap: 5vw;
}
#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#submit{
    border-radius: 20px;
    background: #CDF0EA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 10vw;
    height: 10vh;
    font-size: 2vh;
}
#style-section{
    display: flex;
    align-items: center;
    gap: 10vw;      
    margin-top: 5vh;
}
.secondary-buton{
    width: 13vw;
    height: 5vh;
    border-radius: 8px;
    background: #BFAEE2;
    color: #FFF;
    font-family:"Poppins";
    font-size:1em;
    border: none;
}
.secondary-buton:hover{
    background: #9083aa;
}

#moreButtons{
    margin-top: 10vh;
    gap: 5vw;
    display: flex;
}
.primary-button
{
    width: 15vw;
    height: 10vh;
    background: #ffffff;
    border: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-size: medium;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.primary-button:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}

#delete{
    border-radius: 18px;
    background: #BB302A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 10vw;
    height: 8vh;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border: none;
}
#disabled{
    border-radius: 18px;
    background: #C5AFB8;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 10vw;
    height: 8vh;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}
#card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
#cards{
    display: flex;
    gap: 2vw;
}
.product-card{
    background-color: #F9F9F9;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: space-between;
}
.service-card{
    border-radius:40px;
    background: #F9F9F9;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.service-card{
    display: flex;
    width: 25vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.review-card{
    height: 35vh;
    width: 23vw;
    border-radius: 8px;
    padding: 5vh;
    background-color: #BFAEE2;
}
#aside 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
.aside-container
{
    display: flex;
    gap: 5vw;
}
.my-aside{
    width: 20vw;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CDF0EA;
}
#opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}
#opciones div img{
    width: 128px;
    margin-bottom: 1vh;
}
.links{
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
}

.links a{
    color: #000;
    text-decoration: none;
}

#label
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
#footer h1,h2
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#page-footer-id
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-evenly;
    background-color: #F9F9F9;
}

.social-media
{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

#footer-info
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.social-media svg
{
    fill: #E88DB8;
}

#footer-logo
{
    height: 15vh;
    width: 20vw;
}

#footer-email
{
    text-decoration: underline;
}

#titles {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "heading1 heading1-codigo"
    "heading2 heading2-codigo"
    "heading3 heading3-codigo"
    "heading4 heading4-codigo";
}

#titles h1{
    color: #000;
    font-family:"Spicy Rice";
    font-size:2em;
    font-style:normal;
    font-weight:400;
    grid-area: heading1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#titles span{
    color: #AA8BE8;
}

#codigo-h1{
    grid-area: heading1-codigo;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5vw;
}

#h2-ex{
    grid-area: heading2;
    color: #BFAEE2;
    font-family:"Poppins";
    font-size:2em;
    font-style:normal;
    font-weight:600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#codigo-h2{
    grid-area: heading2-codigo;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5vw;
}

#titles h3{
    grid-area: heading3;
    color: #000000;
    font-family:"Poppins";
    font-size:1.5em;
    font-weight:500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#codigo-h3{
    grid-area: heading3-codigo;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5vw;
}

#titles h4{
    grid-area: heading4;
    color: #000;
    font-family:"Poppins";
    font-size:1em;
    font-weight:500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#codigo-h4{
    grid-area: heading4-codigo;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5vw;
}


nav a{
   
    text-decoration: none;
    color: black;
    justify-content: center;
}
#navbar h1{
    display: flex;
    justify-content: center;
}
#navbar h2{

  
 text-align: center;
    
}
nav ul{
    display:flex;
    list-style-type: none;
    gap: 20px;
    padding: 25px;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 20px; 
}

.code{
    align-items: baseline;
    justify-content: center;
    gap: 5vw;

}
.cod{
   
    align-items: baseline;
    justify-content: center;
    gap: 5vw;
    width: 30%;
}

.menu{
    display: flex;
    top:60px;
    width:15vw;
    background-color: #F7DBF1;
    border-radius: 8px;
    border-right: 2px;
    padding-left: 2vw;
    

}

.codigo{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 20px; 
}

.codigo-h{
    align-items: baseline;
    justify-content: center;
    gap: 5vw;
    width: 30%;

}

.co-css{
    align-items: baseline;
    justify-content: center;
    gap: 5vw;
}
.side{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 20px; 
}
#sidebar h2{
    display: flex;
    
 text-align: center;
    font-size: 2.em;

}

#sidebar ul{
    flex-direction: column;
    list-style-type: none;
    padding: 2px;
}
#sidebar ul li{
    margin:10px 0;
}
#sidebar ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}
#sidebar ul li a:hover{
    color: #0056b3;
    cursor: pointer;
}

#side{
    display: flex;

} 



#alert{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.show{
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.alert-msg{
    display: none;
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    width: 30vw;
    height: 35vh;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: show-popup  0.5s ease forwards;
}

.alert-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.alert-content svg {
    stroke-width: .2px;
    stroke: #77ba7e;
}

.close-alert{
    border-radius: 15.5px;
    background-color: #CDF0D1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2vh 7vw;
    border: none;
    z-index: 1001;
    font-weight: bold;
    cursor: pointer; 
}

.close-alert:hover{
    background: #b6d6ba;
    
}

.close-alert{
    border-radius: 15px;
    background: #CDF0D1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-code{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  50% 50%;
    grid-template-areas: 
    "html css"
    "js css";
    column-gap: 5vw;
    margin: 0 2vw;
}

.html{
    grid-area: html;
}

.css{
    grid-area: css;
}

.js{
    grid-area: js;
}


#alert pre{
    width: 100%;
}

@keyframes show-popup {
	0% {
		transform: translate(-50%, -50%)
		scale(.7);

		opacity: 0;
	}
	45% {
		transform: translate(-50%, -50%)
		scale(1.05);

		opacity: 1;
	}
	80% {
		transform: translate(-50%, -50%)
		scale(.95);
	}
	100% {
		transform: translate(-50%, -50%)
		scale(1);
	}
}

#modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.modal-header{
    display: flex;
    justify-content: flex-end;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    width: 30vw;
    height: 35vh;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    background-color: #F9F9F9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 3vw;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal h4 {
    margin: 0 0 3vh;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

#modal pre{
    width: 100%;
}

#table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #cecece;
}

table th, table td {
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #CDF0EA;
    color: black;
    border: black;
    border-right: 1px solid #94b6b1;
    text-align: center;
    border-bottom: 1px solid #94b6b1;
}

table td{
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #c4c4c4;
}

table tr:nth-child(even){
    background-color: #EBECEC;
}

#container-table-code{
    display: flex;
    gap: 5vw;
}


#table pre{
    width: 100%;
}

#checkbox-section 
{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
  
#checkbox-toppings
{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#checkbox-code
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container-checkbox 
{
    position: relative;
    padding-left: 3vw;
    margin-bottom: 12px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .container-checkbox input 
  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark-checkbox 
  {
    position: absolute;
    left: 0;
    height: 4vh;
    width: 2vw;
    background-color: #eee;
  }
  
  .container-checkbox:hover input ~ .checkmark-checkbox
  {
    background-color: #b2afaf;
  }
  .container-checkbox input:checked ~ .checkmark-checkbox 
  {
    background-color: #BFAEE2;
  }
  
  .checkmark-checkbox:after 
  {
    content: "";
    position: absolute;
    display: none;
  }
  .container-checkbox input:checked ~ .checkmark-checkbox:after 
  {
    display: block;
  }
  
  .container-checkbox .checkmark-checkbox:after 
  {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #f3eeff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
#radiobutton-section 
{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

#radiobutton-flavor
{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   background:#f3eeff;
}

#dropdown-section
{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
#dropdown-services
{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dropdown-code
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.dropbtn 
{
    background-color:#BFAEE2;
    color: white;
    padding: 4vh;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
    background-color: #f1f1f1a8
}
  
.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown:hover .dropbtn 
{
    background-color: #b39ce1;
}
