@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* exclusivamente para estilos */
/* colores, fuentes, fondos, bordes, estilos de botones, animaciones */

body{
    background-color: #F9F9F9;
    color: black;
    margin: 0;
}

body h1, h2{
    font-family: "Spicy Rice", serif;
}

body h3, h4, p, a, label{
    font-family: "Poppins", sans-serif;
}

body h1, h2, h3, h4, p{
    margin: 0; 
}

body img{
    width: 100px; /* Eliminar al terminar.
    solo esta para que se pueda ver el html mas claramente */
}

section{
    margin: 40px 0;
    /* Eliminar al terminar.
    solo esta para que puedan distinguir sus secciones al principio */
}

/* estilos del header // daniel */
header{
    background-color: #FFFFFF;
    height: 15vh;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
header img{
    height: 70px;
    width: 80px;
    padding: 25px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav ul{
    list-style-type: none;
    gap: 20px;
    padding: 25px;
}
#home-background{
    background-color: #BFAEE2;
    padding: 5px;
    border-radius: 8px;
}

/* estilos del hero // daniel */
#hero{
    margin: 0;
    height: 83vh;
}
#bubbletea{
    height: 75vh;
    width: 40vh;
    margin: 0 15vh 0 0;
}
#hero-company-data{
    width: 34%;
    gap: 20px;
}
#hero-company-data img{
   width: 70%;
}



/* estilos de productos destacados // diana */



/* estilos del catalogo // karina */

#catalog-section{
    background: linear-gradient(137deg, #CDF0EA 39.02%, #F7DBF1 80.22%);
}

#catalog-section h1{
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    
}

#catalog-title-id span{
    color: #AA8BE8;

}

.catalog-subtitle-container{
    background: #BFAEE2;
    width: 20vw;
    padding: .5vw;
    border: none;
    border-radius: 35px;
    text-align: center;
}

.catalog-subtitle-container h2{
    color: #F9F9F9;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
}

.product-card{
    background-color: #F9F9F9;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.product-card h3, h4{
    font-weight: 600;
}

.product-card img{
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

}

.product-info button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: transparent;
    border: solid 2px #CACACA;
    font-size: x-small;
    font-family: "Poppins", sans-serif;
}

/* estilos de los servicios // orlando */



/* estilos de about us //  elein */



/* estilos de reviews // daniel */



/* estilos del form // karina */

#form-section h1{
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    text-align: center;
}

#form-title-id span{
    color: #AA8BE8;

}

.form-container form{
    width: 60%;
}

.form-space{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

form input{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px black;
    padding: 1vw;
}

.form-message input{
    border-radius: 20px;
    background: #F7DBF1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2vw;
    border: none;
}

.form-button{
    border-radius: 20px;
    background: #CDF0EA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 10vw;
    height: 10vh;
    font-size: 2vh;
}

/* estilos del footer // elein */